In [2]:
import pandas as pd
import numpy as np
import sqlite3
from glob import glob
import os

In [3]:
csv_files = glob("zippedData/*.csv.gz")

In [4]:
csv_files

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [5]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

In [6]:
conn = sqlite3.connect("movies_db.sqlite")

In [7]:
cur = conn.cursor()

In [29]:
def create_sql_table_from_df(df, name, conn):
    try:
        df.to_sql(name, conn)
        print(f"Created table {name}")
    
    except Exception as e:
        print(f"could not make table {name}")
        print(e)

In [30]:
for name, table in csv_files_dict.items():
    create_sql_table_from_df(table, name, conn)

Created table imdb_title_crew_gz
Created table tmdb_movies_gz
Created table imdb_title_akas_gz
Created table imdb_title_ratings_gz
Created table imdb_name_basics_gz
Created table imdb_title_basics_gz
Created table tn_movie_budgets_gz
Created table bom_movie_gross_gz
Created table imdb_title_principals_gz

In [8]:
cur.execute("select name from sqlite_master where type='table'").fetchall()

[('imdb_title_crew_gz',),
 ('tmdb_movies_gz',),
 ('imdb_title_akas_gz',),
 ('imdb_title_ratings_gz',),
 ('imdb_name_basics_gz',),
 ('imdb_title_basics_gz',),
 ('tn_movie_budgets_gz',),
 ('bom_movie_gross_gz',),
 ('imdb_title_principals_gz',)]

In [9]:
cur.execute("select * from tn_movie_budgets_gz").fetchone()

(1, 'Dec 18, 2009', 'Avatar', '$425,000,000', '$760,507,625', '$2,776,345,279')

In [10]:
results = cur.execute("select * from tn_movie_budgets_gz").fetchall()
df = pd.DataFrame(data = results, columns = [i[0] for i in cur.description])

In [11]:
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"